@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

h1 {
  color: #0ea5e9;
}

.post-box {
  max-width: 400px;
  margin: 8px auto 12px;
  padding: 0 24px;
}

.post-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #fff;
}

.post-card:hover {
  background-color: #f9f9f9;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: auto;
  height: 20px;   
  max-height: 20px;
  max-width: 20px;
  object-fit: contain;
}

.h4{
  width: auto;
  height: 10px;   
  max-height: 10px;
  max-width: 10px;
  object-fit: contain;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.container .input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #000000;
}

.input-group input {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group .error {
  color: red;
}

.btn {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
}

.btn.group {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn.primary {
  background-color: #0ea5e9;
  border-color: #0ea5e9;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
}

.btn.outline {
  display: flex;
  background-color: white;
  border-color: #0ea5e9;
  color: #0ea5e9;
  cursor: pointer;
  padding: 4px 10px;
}

.btn.text {
  background-color: white;
  border-color: white;
  color: #0ea5e9;
}

.btn-outline-circle {
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  font-size: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.load-more-btn {
  background-color: white;
  border: 1px solid #0ea5e9;
  color: #0ea5e9;
  padding: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto; /* centers it horizontally */
  border-radius: 8px;
}

.avatar {
  width: 36px;
  height: 36px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  margin-right: 0.75rem;
  color: #111;
}

.post-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post-meta {
  display: flex;
  justify-content: start;
  gap: 16px;
  margin-top: 6px;
  align-items: center;
  font-size: 0.85rem;
  color: #555;
}

.post-meta .action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.post-meta .action button {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
